.about {
  text-align: center;
}

.about img {
  margin-bottom: 20px;
}

.about p {
  text-align: center;
  padding: 0 20px;
}

@media (max-width: 990px) {
  .row {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .row {
    flex-direction: row-reverse;
  }
  .about {
    text-align: left;
  }

  .about img {
    width: 430px;
    height: 330px;
  }

  .about p {
    text-align: left;
    padding: unset;
  }
}
